@model Insurance.Models.InsuranceViewModels.Customer

@{
    ViewData["Title"] = "AddCustomer";
}

<h2>AddCustomer</h2>

<form asp-action="AddCustomer">
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>        
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Hola</label>
            <div class="col-md-10">
                <select class="form-control">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InsuranceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="insurancename" asp-for="InsuranceName" class="form-control" asp-items="ViewBag.InsuranceNames">
                    <option value="none">Please select one</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InsuranceType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InsuranceType" class="form-control" >
                    <option value="none">Select one insurance first</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#insurancename").change(function () {
            
            var select_id = $("#insurancename option:selected").attr("value");
          
            $.ajax({
                type: "GET",
                url: "InsuranceTypes",
                data:{insuranceid:select_id},
                error: "Unexpected error",
                success: function (data) { alert(data.name);}
            })
            
            
        });
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
