@model Insurance.Models.InsuranceViewModels.CustomerViewModel

@{
    ViewData["Title"] = "AddCustomer";
}

<h2>AddCustomer</h2>
<form asp-action="AddCustomer">

    <h4>CustomerViewModel</h4>
    <hr />
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="dateofbirth" asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SocialSecurity" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SocialSecurity" class="form-control" />
                        <span asp-validation-for="SocialSecurity" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StateOfBirth" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="StateOfBirth" class="form-control" />
                        <span asp-validation-for="StateOfBirth" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AnnualIncome" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AnnualIncome" class="form-control" />
                        <span asp-validation-for="AnnualIncome" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" data-toggle="modal" value="Create" id="submit_button"
                               onclick="validate_data(event);" class="btn btn-success" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">Insurance Name</label>
                    <div class="col-md-10">
                        <select id="insurancename" class="form-control" asp-items="ViewBag.InsuranceNames">
                            <option value="none">Please select one</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PlanType" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select id="plantype" asp-for="PlanType" class="form-control">
                            <option value="none">Select one insurance first</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DirectAgent" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="DirectAgent" class="form-control" />
                        <span asp-validation-for="DirectAgent" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ReferringAgent" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ReferringAgent" class="form-control" />
                        <span asp-validation-for="ReferringAgent" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LeadAgent" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LeadAgent" class="form-control" />
                        <span asp-validation-for="LeadAgent" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EffectiveDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="effectivedate" asp-for="EffectiveDate" class="form-control" />
                        <span asp-validation-for="EffectiveDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TerminationDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="terminationdate" asp-for="TerminationDate" class="form-control" />
                        <span asp-validation-for="TerminationDate" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header modal-header-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                You have to select an insurance company
            </div>

        </div>
    </div>
</div>

    -->

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#insurancename").change(function () {

            var select_id = $("#insurancename option:selected").attr("value");
            if (select_id == "none") {
                $("#plantype").empty();
                $("#plantype").append($('<option></option>').val("none").html("Select one insurance first"));
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "InsuranceTypes",
                    data: { insuranceid: select_id },
                    error: function () { alert("error") },
                    success: function (data) {
                        var dropdown = $("#plantype");
                        dropdown.empty();
                        $.each(data, function (index, value) {
                            dropdown.append($('<option></option>').val(value.text).html(value.text));
                        });
                    }
                })
            }


        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
