@model Insurance.Models.InsuranceViewModels.CustomerViewModel

@{
    ViewData["Title"] = "AddCustomer";
}

<h2>AddCustomer</h2>

<form asp-action="AddCustomer">
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Insurance Name</label>
            <div class="col-md-10">
                <select id="insurancename" class="form-control" asp-items="ViewBag.InsuranceNames">
                    <option value="none">Please select one</option>
                </select>              
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PlanType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="plantype" asp-for="PlanType" class="form-control">
                    <option value="none">Select one insurance first</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" data-toggle="modal" value="Create" id="submit_button"
                       onclick="validate_data(event);" class="btn btn-success" />
            </div>
        </div>


    </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header modal-header-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                You have to select an insurance company
            </div>
           
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#insurancename").change(function () {

            var select_id = $("#insurancename option:selected").attr("value");
            if (select_id == "none") {
                $("#plantype").empty();
                $("#plantype").append($('<option></option>').val("none").html("Select one insurance first"));
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "InsuranceTypes",
                    data: { insuranceid: select_id },
                    error: function () { alert("error") },
                    success: function (data) {
                        var dropdown = $("#plantype");
                        dropdown.empty();
                        $.each(data, function (index, value) {
                            dropdown.append($('<option></option>').val(value.text).html(value.text));
                        });
                    }
                })
            }


        });
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
