@model IEnumerable<Insurance.Models.InsuranceViewModels.SalePayment>

@{
    ViewData["Title"] = "PaymentHistory";
}

<h2>PaymentHistory</h2>

<div class="row">
    <div class="col-md-3">
        <p>Upload a new Sales file</p>
        <form method="post" enctype="multipart/form-data" id="form"  asp-action="AddPaymentsFromFile" asp-controller="Insurance" >                       
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input id="file_upload" name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                </span>
                <span class="form-control" style="font-size:smaller; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%;"></span>
                
            </div>
            <input class="btn btn-success form-control" type="submit" value="Upload" id="upload" />
        </form>
    </div>

   
    <div class="col-md-6">
        <table class="table table-bordered  ">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Amount Paid</th>
                    <th>Statement Date</th>
                </tr>
            </thead>
            <tbody id="payments_table_body">
                @if (ViewBag.allValues != null)
                {
                    for (int i = 0; i < ViewBag.allValues.Count; i++)
                    {
                        var item = ViewBag.allValues[i];

                        if (!ViewBag.indatabase[i])
                        {
                        <tr class="@(!ViewBag.indatabase[i] ? "bg-danger " : " ")">
                            <td>@item.CustomerName</td>
                            <td>@item.AmountPaid</td>
                            <td>@item.StatementDate</td>
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function addpayments() {
        $.ajax({
            type: "POST",
            url: "AddPaymentsFromFile",
            data: { path: $("#payment_file").val() },
            error: function () { alert("errror") },
            success: function (data) { showpayments(data) }

        })
    };
    $(document).ready(function () {
      
        $("#form").submit(function () {
            
            var formdata = new FormData();
            
            var totalFiles = $("#file_upload")[0].files.length;


            for (var i = 0; i < totalFiles; i++) {
                var file = $("#file_upload")[0].files[i];

                formData.append(file.name, file);
            }
            //formdata.append("file", $("#file_upload").files[0]);
            return;
            $.ajax({
                type : "POST",
                data : formdata,
                url: '/Insurance/AddPaymentsFromFile',
                contentType: false,
                processData:false,
                success: function () { alert("success") },
                error: function () { alert("error") }
            });
        });
        
    })


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
