@using System.Collections
@model IEnumerable<Insurance.Models.InsuranceViewModels.Transaction>

@{
    ViewData["Title"] = "Transaction";
}

<h2>Transaction</h2>

<div class="row">

    <div class="col-md-2 panel_search">

        <ul class="nav nav-pills nav-stacked">            
            <li role="presentation" class="form-group">
                <input class="form-control" type="text" id="name_filter" placeholder="Search forname" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </li>
            <li role="presentation" class="form-group">
                <input class="form-control" type="text" id="plantype_filter" placeholder="Search for plan type" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </li>
            <li role="presentation" class="form-group">                
                <input class="form-control" type="text" id="startdate_filter" placeholder="Start date" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </li>

            <li role="presentation" class="form-group">
                <input class="form-control" type="text" id="enddate_filter" placeholder="End date" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </li>
        </ul>
    </div>

    <div class="col-md-10">
        <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Deposited Money</td>
                    <td>Transaction Date</td>
                    <td>PlanType</td>
                </tr>
            </thead>
            <tbody id="transaction_table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="name_row">@item.Name</td>
                        <td id="money_row">@item.DepositedMoney</td>
                        <td id="transactiondate_row">@item.TransactionDate</td>
                        <td id="plantype_row">@item.PlanType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
